*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
}

.accent {
  color: #2196f3;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #fff;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

header {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ececec;
  position: relative;
}

/* HEADER */
.nav.list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.nav.list li {
  margin-right: 0;
  text-align: center;
  padding-left: 0px;
}

.nav.list li:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav.list li {
    margin-right: 0;
    text-align: center;
    padding-left: 0px;
  }
  .nav.list li:not(:last-child) {
    margin-right: 50px;
  }
}

.logo, .logo-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-accent {
  color: #2196f3;
}

.header-bar-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-bar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 1200px;  padding: 0px 15px; */
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .header-bar {
    width: 1200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-bar-nav.is-open {
    position: absolute;
    display: block;
    background-color: #ffffff;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.mobile-nav {
  background-color: #ffffff;
  border: 0;
}

.mobile-nav.is-open .burger-cross {
  display: block;
}

.mobile-nav.is-open .burger-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  header button {
    display: none;
  }
}

.mobile-nav:focus .burger, .mobile-nav:hover .burger {
  fill: #2196f3;
}

.burger-cross {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.main-nav {
  margin-left: 81px;
  margin-right: 84px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .main-nav {
    margin-left: 85px;
    margin-right: 305px;
  }
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 31px;
  padding-bottom: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-bar {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact .envelope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.contact .smartphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.contact .mail, .contact .telephone {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .smartphone {
  margin-left: 0;
}

.tel,
.mail .nav-bar {
  color: #757575;
}

.active,
.main-nav .nav-bar:hover,
.main-nav .nav-bar:focus {
  color: #2196f3;
}

.mail,
.telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail:hover .icon,
.mail:hover .nav-bar,
.mail .nav-bar:focus-within,
.mail .nav-bar:focus-within,
.telephone:hover .icon,
.telephone:hover .nav-bar,
.telephone .nav-bar:focus-within,
.telephone .nav-bar:focus-within {
  fill: #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contact {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 21px 0;
  }
  .contact .telephone {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 21px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .telephone {
    margin-left: 30px;
    margin-right: 0;
    margin-top: 0;
  }
}

/*FILTER*/
.gallery-section .section-header {
  display: none;
}

.filter.list {
  margin-top: 93px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .filter.list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .filter.list {
    width: 1200px;
  }
}

.filter .button {
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
  /* margin-right: 8px; */
}

.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter .button.active {
  background-color: #2196f3;
  color: #fff;
}

.filter .button:hover {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.gallery {
  text-align: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-section {
  margin-left: auto;
  margin-right: auto;
}

.project h2 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: #212121;
}

.project:hover, .project:focus {
  -webkit-box-shadow: 0px 10px 8px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.project .type {
  margin: 0px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
}

.project:hover .project-card::after {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .project {
    width: calc((100% - 4*15px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 3 * 30px) / 3);
    /* outline: 1px solid red; */
  }
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card img {
  margin-right: auto;
  margin-left: auto;
}

.project-card::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card .desc {
  position: absolute;
  margin: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  z-index: 999;
  /* opacity: 0; */
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project-card .desc {
  /* opacity: 1; */
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery.list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .gallery.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery.list {
    width: 1200px;
  }
}

@media screen and (max-width: 497px) {
  .gallery.list {
    width: 100%;
    margin: 0;
  }
  .project {
    width: 100%;
  }
}

/* FOOTER */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

address {
  font-style: inherit;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.footer-social li:not(:last-child) {
  margin-right: 10px;
}

.footer-social > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social li {
  border-radius: 50%;
  height: 20px;
}

.footer-social li:hover,
.footer-social li:focus,
.footer-social .list.socials li:hover,
.footer-social .list.socials li:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .footer-social {
    width: calc(100%/2);
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    width: auto;
  }
}

.footer-appeal {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

/* address ul::first-line {
  color: #fff;
  
} */
@media screen and (min-width: 768px) {
  .footer-subscribe {
    width: 450px;
  }
}

.text.address {
  display: block;
  color: #fff;
}

.footer-address {
  margin-right: 0;
  margin-left: 0;
  /* margin-bottom: 60px; */
}

.footer-address .logo, .footer-address .logo-accent {
  color: #ffffff;
}

.footer-address .logo .logo-accent, .footer-address .logo-accent .logo-accent {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .footer-address {
    width: calc(100%/2);
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    width: auto;
  }
}

.footer-subscribe .button {
  margin-top: 20px;
}

.subscribe-form .button:after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}

.subscribe-form {
  display: block;
}

.form-input {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  color: inherit;
}

.footer-social .list.socials li {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social .icon {
  padding: 0;
  border: none;
  fill: #ffffff;
}

/*HERO */
.hero {
  /* margin-bottom: 94px; */
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  /* height: 600px; */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(./images/hero/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(./images/hero/hero-mobile.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(./images/hero/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(./images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(./images/hero/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(./images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(./images/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(./images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(./images/hero/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(./images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(./images/hero/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(./images/hero/hero-desktop@2x.jpg);
  }
}

.hero-header {
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-header {
    font-size: 44px;
  }
}

.button {
  cursor: pointer;
}

.hero .button,
footer .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.submit.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

/* BUSINESS */
.business {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.business .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.business .list > li {
  margin-bottom: 0;
  position: relative;
  padding: 0;
}

.business .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.business .list > li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.business .section-header {
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .business {
    display: block;
    width: 1200px;
  }
}
/*# sourceMappingURL=portfolio.css.map */