/* ABOUT */
.about {
    /* width: 1200px; */
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 94px; */
    /* background-color: #ccc; */
}

.list {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.about {

& .list {
    display: block;
}


&-svg {
@include centeredFlex (block);
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    // width: auto;
    height: 120px;
    background-color: #f5f4fa;
    // padding-left: 190px;
     padding-top: 25px;
    
}

// &-items:not(:last-child) {
//     margin-right: 30px;
// }

&-items {
   margin-left: auto;
   margin-right: auto; 
   text-align: center;
}

& .title {
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;

    line-height: 1.14;
    text-transform: uppercase;
    font-size: inherit;
    color: $header-dark-color;
}


& .text,
.text {
    display: inline;
    width: 270px;
    line-height: 1.71;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

}

.section-header {
    margin: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $header-dark-color;
}


@media screen and (max-width: 320px) {
    .about-svg {
        width: 320px;
    }
}

@media screen and (min-width: 480px) {
    .about-svg {
        width: 480px;
    }
}