/* ABOUT */
.about {
    /* width: 1200px; */
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 94px; */
    /* background-color: #ccc; */
}

.list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.about {

& .list {
    display: flex;
}


&-svg {
@include centeredFlex ();
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
}

&-items:not(:last-child) {
    margin-right: 30px;
}



& .title {
    margin-bottom: 10px;
    margin-top: 0;

    line-height: 1.14;
    text-transform: uppercase;
    font-size: inherit;
    color: $header-dark-color;
}


& .text,
.text {
    width: 270px;
    line-height: 1.71;
}

}

.section-header {
    margin: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $header-dark-color;
}