/* CLIENTS */ 
.clients {
    padding-top: 60px;
    padding-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    

& .section-header {
    margin-bottom: 45px;
    
}

 & .list {
   display: flex; 
   flex-wrap: wrap;
    justify-content: center;
     margin-bottom: 94px; 
    //  margin-left: -15px;
    //  margin-right: -15px;
    
    
    
}

// & .list li:not(:last-child) {
//     margin-right: 30px;
// }

& .list li {
    @include centeredFlex ();
    //display: inline-block;
    
    border: 1px solid #afb1b8;
    border-radius: 4px;
    margin: 15px;  
    width: 170px;
    height: 90px;

    @media screen and (max-width:479px) {
        width: calc((100% - 4 * 16px)/2);
        
    }

    
    
}



&-logo {
    margin-top: 10px;
    
    fill: #afb1b8;
    padding: 0;
    border: none;
    // margin-top: ;
   
}

& .list li:hover,
& .list li:focus {
    border: 1px solid $accent-color;

    & .clients-logo 
    {
    fill: $accent-color;
    }
}


}