body {
    
    // width: 480px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $text-color;
    background-color: #fff;
    margin: 0;
}